
*.bmp
*.png
*.pyc

data/
mexgdal/
pix2pix/datasets/
pix2pix/output/
pix2pix/testdata/*.bmp
pix2pix/testdata/patches/
pix2pix/testdata/patches2/
pix2pix/testdata/patches_translate/
pix2pix/testdata/patches_translate2/